*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

a {
    color: black;
    font-size: 1rem;
    font-weight: bold;
}

a:hover {
    cursor: pointer;
    color: orange;
}

header {
    position: relative;
    padding: 0rem 1rem;
    margin-top: 23px;
}

#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    background-color: lightgrey;
    padding: 10px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#nav-list{
    display: flex;
}

.menu {
    padding: 0 2rem;
}

#icon {
    display: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.pop-up {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 135px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 10px;
    overflow: hidden;
}

.pop-up.open {
    height: 260px;
}

.pop-up li {
    padding: 23px;
    text-align: center;
}


@media screen and (max-width: 535px) {
    .menu {
        display: none;
    }
    #icon {
        display: block;
    }

    .pop-up {
        display: block;
    }
}